
.button {
  align-items: center;
  font-weight: 200;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: white;
  background: dodgerblue;
  border: none;
  box-shadow: 0 0.3em 0.5em -0.5em dodgerblue;
  letter-spacing: 0.05em;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
}

.button:hover {
  box-shadow: 0 0.5em 1.0em -0.5em #14a73e98;
}

.button:active {
  box-shadow: 0 0.3em 0.5em -0.5em #14a73e98;
}
